/* ------------------------------------------ fælles ------------------------------------------- */

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Teko", sans-serif;
  font-size: 3.5rem;
  color: white;
}

h2 {
  font-family: "Teko", sans-serif;
  font-size: 2.8rem;
  color: white;
}

h3 {
  font-family: "Teko", sans-serif;
  font-size: 1.4rem;
  color: white;
}

h4 {
  font-family: "Teko", sans-serif;
  font-size: 1rem;
  color: white;
}

p {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  color: white;
}

@media (min-width: 600px) {
  h1 {
    font-family: "Teko", sans-serif;
    font-size: 6rem;
    color: white;
  }

  h2 {
    font-family: "Teko", sans-serif;
    font-size: 4rem;
    color: white;
  }

  h3 {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
    color: white;
  }

  h4 {
    font-family: "Teko", sans-serif;
    font-size: 2rem;
    color: white;
  }

  p {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.2rem;
    color: white;
  }
}

/* ------------------------------------------ header ------------------------------------------- */

header {
  background-color: #232427;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  padding-right: 15%;
  align-items: center;
  max-height: 150px;
  position: fixed;
}

.side2 header {
  position: relative;
  /* boxshadow */
  -moz-box-shadow: 2px 2px 5px 0px black;
  -webkit-box-shadow: 2px 2px 5px 0px black;
  box-shadow: 2px 2px 5px 0px black;
}

a {
  text-decoration: none;
  font-family: "Bai Jamjuree", sans-serif;
  color: white;
  font-size: 1rem;
}

nav a {
  border: solid 1.5px #00a7ff;
  padding-inline: 50%;
  padding-block: 5%;
}
/* -------- hover - knap ----------- */
nav a:hover {
  background-color: #00a7ff;
  padding-inline: 50%;
  padding-block: 5%;
}
.logo img {
  width: 25%;
}

@media (min-width: 600px) {
  header {
    background-color: #232427;
    display: flex;
    justify-content: space-between;
    padding-inline: 2%;
    padding-right: 10%;
    align-items: center;
  }

  a {
    text-decoration: none;
    font-family: "Bai Jamjuree", sans-serif;
    color: white;
    font-size: 1rem;
  }

  nav a {
    border: solid 1.5px #00a7ff;
    padding-inline: 60%;
    padding-block: 5%;
  }
  nav a :hover {
    background-color: #00a7ff;
    padding-inline: 60%;
    padding-block: 5%;
  }
  .logo img {
    width: 10%;
  }

  a {
    font-size: 2rem;
  }
}

/* ------------------------------------------ forside ------------------------------------------- */
html .forside {
  background-color: #232427;
}
#firstsection {
  width: 100%;
  height: 100vh;
  background-image: url(billeder/splash.svg);
  background-color: #232427;
  background-size: cover;
  padding: 30px;
}

.splash h1 {
  font-family: Teko;
  font-size: 5rem;
  color: #00a7ff;
}

.splash p {
  margin-bottom: 30px;
}

.splash {
  margin-top: 35%;
}

.splash a {
  border: solid 1.5px #00a7ff;
  padding-inline: 10%;
  padding-block: 2%;
  font-size: 1.5rem;
  /* innershadow */
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}
.splash a:hover {
  background-color: #00a7ff;
  padding-inline: 10%;
  padding-block: 2%;
}

@media (min-width: 1000px) {
  #firstsection {
    width: 100%;
    height: 100vh;
    background-image: url(billeder/splash.svg);
    background-color: #232427;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .splash {
    color: white;
    grid-column: 2/6;
    grid-row: 4;
    margin-top: 0%;
  }
}

/* ------------------------------------------ side 2 ------------------------------------------- */

html .side2 {
  background-color: #26272e;
}

.side2 nav button {
  font-family: "Teko", sans-serif;
}

.genre {
  font-size: 1rem;
  padding-top: 5%;
}
hr {
  border: #00a7ff 0.5px solid;
  margin-inline: 5%;
  margin-block: 5%;
}

article {
  background-color: #232427;
  margin-bottom: 5%;
  padding-inline: 2%;
  padding-bottom: 5%;
  box-shadow: #00a7ff;
  /* innershadow */
  -moz-box-shadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}
@media (max-width: 600px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    background-color: #232427;
    margin-bottom: 5%;
    padding-inline: 2%;
    padding-bottom: 5%;
    box-shadow: #00a7ff;
    margin-left: 15px;
    margin-right: 15px;
  }

  article img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
  }
  article .sang {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 5%;
  }

  article .kunstner {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  article .genre {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

h2 {
  text-align: center;
  padding-block: 10%;
}

@media (min-width: 600px) {
  .side2 nav {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    text-align: center;
    padding-inline: 5%;
    margin-bottom: 5%;
  }
}

button {
  background-color: #26272e;
  /* border: #00a7ff solid 1px; */
  border: none;
  color: white;
}
.valgt {
  background-color: #26272e;
  color: #00a7ff;
  border: #00a7ff solid 1px;
  padding: 3%;
  text-decoration: none;
  /* innershadow */
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}

.mere {
  border: #00a7ff solid 1px;
  color: #00a7ff;
  margin-top: 10px;
  padding: 5px;
  grid-column: 4;
  grid-row: 2;
  /* innershadow */
  -moz-box-shadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}

button:hover {
  background-color: #00a7ff;
  color: white;
}

.side2 nav button:hover {
  /* innershadow*/
  -moz-box-shadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}
@media (min-width: 600px) {
  h2 {
    padding-block: 5%;
  }
  .side2 nav {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
  }

  .side2 nav button {
    font-size: 1.5rem;
  }
  .valgt {
    background-color: #26272e;
    color: white;
    border: #00a7ff solid 1px;
    padding: 2%;
    text-decoration: none;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin-inline: 5%;
  }

  article {
    padding-inline: 5%;
  }

  article .billede {
    padding-top: 5%;
  }
}

/* ------------------------------------------ DropDown Menu ------------------------------------------- */

.dropbtn {
  display: none;
}

@media (max-width: 599px) {
  .dropbtn {
    display: block;
    font-size: 1.5rem;
    margin-left: 15px;
    font-family: "Teko", sans-serif;
    padding: 2%;
    /* innershadow */
    -moz-box-shadow: inset 0 0 5px black;
    -webkit-box-shadow: inset 0 0 5px black;
    box-shadow: inset 0 0 5px black;
  }

  .dropdownElementer {
    display: none;
    position: absolute;
  }

  .dropdownElementer button {
    display: block;
    color: #ffffff;
    padding: 0px 10px;
    /* background-color: #3c3e49; */
    background-color: #232427;
    font-size: 1.5rem;
  }

  .show {
    display: flex;
    flex-flow: column;
    /* flex-basis: 5px; */
    justify-content: center;
  }
}

/* ------------------------------------------ popup ------------------------------------------- */
/* mobile version */
#singleView {
  display: none; /*vinduet er lukket*/
  position: fixed; /*ligger sig ovenpå sidens indhold*/
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eff3ff56; /*lysere baggrund så siden bagved ikke er i fokus*/
}

#singleView article {
  /* styling af articlens data i popup */
  width: 45vh;
  height: auto;
  margin: 4rem auto;
  border-radius: 4px;
  padding: 12px;
  background-color: #232427;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#singleView img {
  /* styling af billedet i popup */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  /* boxshadow */
  -moz-box-shadow: 0px 2px 5px 2px black;
  -webkit-box-shadow: 0px 2px 5px 2px black;
  box-shadow: 0px 2px 5px 2px black;
}

#singleView .kunstner {
  padding-bottom: 5%;
}

#singleView .fact {
  padding-top: 5%;
  padding-bottom: 2.5%;
}
.luk {
  color: white;
  margin-top: 2%;
  margin-left: 2%;
}

.luk:hover {
  color: #00a7ff;
}
@media (min-width: 600px) {
  /* desktop version */
  #singleView article {
    /* styling af articlens data i popup */
    width: 150vh;
    height: 95vh;
    margin: 1rem auto;
    border-radius: 4px;
    padding: 12px;
    background-color: #232427;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #singleView .luk {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #singleView .billede {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 65%;
    padding: 0%;
  }

  #singleView .sang {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #singleView .kunstner {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 1.4rem;
  }
  #singleView .genre {
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: 1.2rem;
    padding: 0;
  }
  #singleView .udgivelsesar {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  #singleView .fact {
    grid-column: 1/3;
    grid-row: 6/7;
    padding-inline: 8%;
    padding-top: 0;
  }
  #singleView .link {
    grid-column: 1/3;
    grid-row: 7/8;
    text-align: center;
    padding-inline: 8%;
  }
}
/* ------------------------------------------ footer ------------------------------------------- */

footer {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-block: 5%;
  background-color: #232427;
  /* boxshadow */
  -moz-box-shadow: 0px 2px 5px 2px black;
  -webkit-box-shadow: 0px 2px 5px 2px black;
  box-shadow: 0px 2px 5px 2px black;
}
