/* ------------------------------------------ fælles ------------------------------------------- */

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Teko", sans-serif;
  font-size: 3.5rem;
  color: white;
}

h2 {
  font-family: "Teko", sans-serif;
  font-size: 2.8rem;
  color: white;
}

h3 {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  color: white;
}

h4 {
  font-family: "Teko", sans-serif;
  font-size: 1.2rem;
  color: white;
}

p {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  color: white;
}

@media (min-width: 600px) {
  h1 {
    font-family: "Teko", sans-serif;
    font-size: 6rem;
    color: white;
  }

  h2 {
    font-family: "Teko", sans-serif;
    font-size: 4rem;
    color: white;
  }

  h3 {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
    color: white;
  }

  h4 {
    font-family: "Teko", sans-serif;
    font-size: 2rem;
    color: white;
  }

  p {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.2rem;
    color: white;
  }
}

/* ------------------------------------------ header ------------------------------------------- */

header {
  background-color: #232427;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  padding-right: 15%;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: "Bai Jamjuree", sans-serif;
  color: white;
  font-size: 1rem;
}

nav a {
  border: solid 1.5px #00a7ff;
  padding-inline: 50%;
  padding-block: 5%;
}
/* -------- hover - knap ----------- */
nav a:hover {
  background-color: #00a7ff;
  padding-inline: 50%;
  padding-block: 5%;
}
.logo img {
  width: 25%;
}

@media (min-width: 600px) {
  header {
    background-color: #232427;
    display: flex;
    justify-content: space-between;
    padding-inline: 2%;
    padding-right: 10%;
    align-items: center;
  }

  a {
    text-decoration: none;
    font-family: "Bai Jamjuree", sans-serif;
    color: white;
    font-size: 1rem;
  }

  nav a {
    border: solid 1.5px #00a7ff;
    padding-inline: 60%;
    padding-block: 5%;
  }
  nav a :hover {
    background-color: #00a7ff;
    padding-inline: 60%;
    padding-block: 5%;
  }
  .logo img {
    width: 13%;
  }

  a {
    font-size: 2rem;
  }
}

/* ------------------------------------------ forside ------------------------------------------- */
html .forside {
  background-color: #232427;
}
@media (min-width: 600px) {
  #firstsection {
    width: 100%;
    height: 100vh;
    background-image: url(billeder/splash.svg);
    background-color: #232427;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .splash {
    color: white;
    grid-column: 2/6;
    grid-row: 1;
  }
}
#firstsection {
  width: 100%;
  height: 100vh;
  background-image: url(billeder/splash.svg);
  background-color: #232427;
  background-size: cover;
  padding: 30px;
}

.splash h1 {
  font-family: Teko;
  font-size: 5rem;
}

.splash p {
  margin-bottom: 30px;
}

.splash a {
  border: solid 1.5px #00a7ff;
  padding-inline: 5%;
  padding-block: 2%;
  font-size: 1.5rem;
}
.splash a:hover {
  background-color: #00a7ff;
  padding-inline: 5%;
  padding-block: 2%;
}
.splash {
  text-align: center;
}
/* ------------------------------------------ side 2 ------------------------------------------- */

html .side2 {
  background-color: #26272e;
}
hr {
  border: #00a7ff 0.5px solid;
  margin-inline: 5%;
  margin-block: 5%;
}

/* section {
  margin-inline: 5%;
} */

article {
  background-color: #232427;
  margin-bottom: 5%;
  padding-inline: 2%;
  padding-bottom: 5%;
  box-shadow: #00a7ff;
  -moz-box-shadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}

/* article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 10px;
  background-color: #232427;
  margin-bottom: 5%;
  padding-inline: 2%;
  padding-bottom: 5%;
  box-shadow: #00a7ff;
}

article img {
  width: 100%;
} */

h2 {
  text-align: center;
  padding-block: 10%;
}
.side2 nav {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  text-align: center;
  padding-inline: 5%;
  margin-bottom: 5%;
}
button {
  background-color: #26272e;
  /* border: #00a7ff solid 1px; */
  border: none;
  color: white;
}
.valgt {
  background-color: #26272e;
  color: #00a7ff;
  border: #00a7ff solid 1px;
  padding: 3%;
  text-decoration: none;
}

button:hover {
  background-color: #00a7ff;
}
@media (min-width: 600px) {
  h2 {
    padding-block: 5%;
  }
  .side2 nav {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
  }
  .valgt {
    background-color: #26272e;
    color: #00a7ff;
    border: #00a7ff solid 1px;
    padding: 2%;
    text-decoration: none;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin-inline: 5%;
  }

  article {
    padding-inline: 5%;
  }

  article .billede {
    padding-top: 5%;
  }
}

/* ------------------------------------------ popup ------------------------------------------- */

#singleView {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eff3ff56;
  overflow: scroll;
}

#singleView article {
  width: 45vh;
  height: 60vh;
  margin: 7rem auto;
  border-radius: 4px;
  padding: 12px;
  background-color: #232427;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#singleView img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}
#singleView h3 {
  padding-bottom: 5%;
}
#singleView p {
  padding-bottom: 2%;
}

#singleView .fact {
  padding-top: 5%;
}
.luk {
  color: white;
  margin-top: 2%;
  margin-left: 2%;
}

.luk:hover {
  color: #00a7ff;
}
@media (min-width: 600px) {
  #singleView article {
    width: 150vh;
    height: 100vh;
    margin: 4rem auto;
    border-radius: 4px;
    padding: 12px;
    background-color: #232427;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #singleView .luk {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #singleView .billede {
    grid-column: 1/2;
    grid-row: 2/4;
    /* object-fit: cover; */
    width: 70%;
    padding: 0%;
  }

  #singleView .sang {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #singleView .kunstner {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #singleView .genre {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #singleView .udgivelsesår {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  #singleView .fact {
    grid-column: 1/3;
    grid-row: 6/7;
    padding-inline: 8%;
  }
  #singleView .link {
    grid-column: 1/3;
    grid-row: 7/8;
    text-align: center;
  }
}
/* ------------------------------------------ footer ------------------------------------------- */
